In [20]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SQLContext

sc = pyspark.SparkContext()
sqlContext = SQLContext(sc)

import pandas as pd

In [16]:
flow_data = sqlContext.read\
    .format("com.databricks.spark.csv")\
	.option("delimiter", "\t")\
    .option("header", "true")\
    .load("Usgs/Flow_data")

In [17]:
flow_data.head()

Row(agency_cd='USGS', site_no='12502500', datetime='2007-01-01', 149973_00060_00003='52.8', 149973_00060_00003_cd='A', 149974_00065_00003='3.48', 149974_00065_00003_cd='A')

In [23]:
pd.DataFrame(flow_data.take(5), columns=flow_data.columns).transpose()

,0,1,2,3,4
agency_cd,USGS,USGS,USGS,USGS,USGS
site_no,12502500,12502500,12502500,12502500,12502500
datetime,2007-01-01,2007-01-02,2007-01-03,2007-01-04,2007-01-05
149973_00060_00003,52.8,59.1,168,178,146
149973_00060_00003_cd,A,A,A,A,A
149974_00065_00003,3.48,3.55,4.35,4.43,4.23
149974_00065_00003_cd,A,A,A,A,A